numpy==1.15.1
dash==0.26.3
dash-auth==1.1.2
dash-core-components==0.28.1
dash-html-components==0.11.0
dash-renderer==0.13.2
plotly==3.1.1
pandas==0.22.0
pandas-datareader==0.6.0
pickleshare==0.7.4
gunicorn==19.7.1
scikit-image==0.13.1
scikit-learn==0.19.1
scikit-optimize==0.5.2
soundfile==0.10.2
